# project
notes.txt
.python-version
db.sqlite3
geckodriver.log
virtualenv/
.vscode/
/static
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
functional_tests/screendumps
